.posts-container{
    margin: 2rem 4rem;
}

.posts-data-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.posts-header{
    padding: 10px;
    margin: 10px;
}

.posts-header h3{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 1rem;
}

.post-data{
    display: flex;
    margin: 1rem 3rem;
}

.post-data-content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem;
    
}

.posts-data{
    margin: 2rem 2rem 2rem 0;
    /* border: 2px solid black; */
    box-shadow: 0 7px 50px -1px rgba(0,76,120,.112);
}

.posts-data img{
    width: 100%;
    height: 100%;
}

.posts-data h3{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
}

.delete-post{
    content: 'x';
    cursor: pointer;
    background: #ededed;
    position: absolute;
    margin: -10px 5px 5px 210px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 0px;
    padding-bottom: 5px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
}
